<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <%= image_tag("books/#{@book.image_name}.jpg", alt: 'Example', class: "img-responsive") %>
    </div>
    <div class="col-sm-4">
      	<p>
			By: <%= @book.author %>
		</p>
		<p>
			<%= @book.genre %>
		</p>
		<p>
			<%= @book.description %>
		</p>
    </div>
    <div class="col-sm-4">
    	<p>
    		Rating: <%= @book.get_likes.size - @book.get_dislikes.size %> / <%= @book.votes_for.size %>
    		<br>
    		<a href="#" onclick="<%= @book.liked_by(current_user) %>">Vote Up</a>
    		<br>
    		<a href="#" onclick="<%= @book.disliked_by current_user %>">Vote Down</a>
    		<br>
    		<a href="#" onclick="<%= @book.undisliked_by current_user %>">Unvote Down</a>
    		<br>
    		<a href="#" onclick="<%= @book.unliked_by current_user %>">Unvote Up</a>
    	</p>
    </div>
  </div>
</div>